@model EventUk.Web.Models.ViewModels.ContactUsViewModel

<section id="contactUs" class="contact-parlex">
    <div class="parlex-back">
        <div class="container">
            <div class="row">
                <div class="heading text-center hed2">
                    <!-- Heading -->
                    <h2>Contact Us</h2>
                    <p>We are eager to hear from you</p>
                </div>
            </div>
            <div class="row mrgn30">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->

                    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                    {

                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(d => d.Id)
                                @Html.TextBoxFor(d => d.FullName, new { @class = "form-control", @id = "name", @placeholder = "Full Name" })
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                @Html.TextBoxFor(d => d.Email, new { @class = "form-control", @id = "email", @placeholder = "Email" })
                                @*<input type="email" class="form-control" placeholder="Email"
                                    id="email" required value="@Model.Email"
                                    data-validation-required-message="Please enter your email" />*@
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                @Html.TextAreaFor(d => d.Message, new
                                {
                                    @class = "form-control",
                                    @id = "Message",
                                    @placeholder = "Message",
                                    @maxlength = "999",
                                    @style = "resize:none",
                                    @rows = "10",
                                    @cols = "100"
                                })
                                @*<textarea rows="10" cols="100" class="form-control" value="@Model.Message"
                                    placeholder="Message" id="message" required
                                    data-validation-required-message="Please enter your message" minlength="5"
                                    data-validation-minlength-message="Min 5 characters"
                                    maxlength="999" style="resize:none"></textarea>*@
                            </div>
                        </div>
                        <div id="success"> </div> <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary pull-right">Send</button><br />

                    }

                </div>
            </div>
        </div>
        <!--/.container-->
    </div>
</section>
